html {
  font-family: Arial;
}


h1 {
  text-align: center;
}

ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;


}

li {
  display: flex;
  list-style: none;
  flex-basis: 24%;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.boldName {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid green;

}

.emailFont {
  text-transform: uppercase;
  opacity: 0.25;
  margin-top: 0;

}

.addressTextPhone {
  margin: 4px auto;
  opacity: 0.60;
}
